---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table'
import { readData } from '../backend/google'

export const prerender = false
const signers = await readData()
---

<Table>
  <TableHeader>
    <TableRow>
      <TableHead>Name</TableHead>
      <TableHead className="hidden sm:flex">Twitter</TableHead>
      <TableHead>Affiliation</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {
      signers.map((signer, i) => (
        <TableRow key={`signer-${i}`}>
          <TableCell>
            {signer.name}{' '}
            <div class="text-xs text-slate-400 sm:hidden">
              {signer.twitterHandle}
            </div>
          </TableCell>
          <TableCell className="hidden sm:flex">
            {signer.twitterHandle}
          </TableCell>
          <TableCell>{signer.affiliation}</TableCell>
        </TableRow>
      ))
    }
  </TableBody>
</Table>
